  @media all and (min-width: 100px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
	margin: 0 auto;
	max-width: 320px;
	background-color: grey;
  }

  .background {
	background-color: white;
	background-image: url("../img/background_login.png"), url("../img/logo.png");
	background-repeat: no-repeat, no-repeat;
	background-position: center center, top right;
	background-size: 100% 60%, 10% 10%;
  }

  .PasswordForgottenLink {
  	color: Grey;
	letter-spacing: 0px;
	line-height: 0.5;
	margin-top: 20px;
	text-align: left;
	vertical-align: center;
  	font-size: 12px;
	text-decoration: underline;
	margin-left: 40px;
    cursor: pointer;
   }
  
  .PasswordForgottenHeadline {
      color: Black;
      letter-spacing: 0px;
      line-height: 0.5;
      text-align: left;
      vertical-align: center;
      font-size: 25px;
      text-decoration: underline;
      margin-left: 40px;
     }


  .Button {
 	 background-color: #F2F2F2;
	 border: solid;
 	 border-width: thin;
 	 border-color: #6a91ce;
	 color: #6a91ce;
	 padding: 12px 70px;
	 text-align: left;
	 text-decoration: none;
 	 font-size: 15px;
 	 margin-top: 25px;
 	 margin-left: 25px;
   }
}

	.PasswordForgottenText	{
	color: Black;
      letter-spacing: 1px;
      line-height: 1;
      text-align: left;
      vertical-align: center;
      font-size: 15px;
      text-decoration: none;
      margin-left: 40px;
      }
  
      
    .PasswordForgottenEmail	{
      color: #5A5D5C;
      letter-spacing: 2px;
      line-height: 1;
      text-align: left;
      vertical-align: center;
      font-size: 20px;
      text-decoration: underline;
      margin-left: 37px;
      font-style: bold;
    }
    .PasswordForgottenSubmit {
     background-color: #F2F2F2;
	 border: solid;
 	 border-width: thin;
 	 border-color: #6a91ce;
	 color: #6a91ce;
	 padding: 12px 70px;
	 text-align: left;
	 text-decoration: none;
 	 font-size: 15px;
 	 margin-top: 25px;
 	 margin-left: 40px;
    }
    .backgroundRegister {
	background-color: white;
	background-image: url("../img/logo.png");
	background-repeat: no-repeat;
  	background-position: 95% 5%;
	background-size: 10% 12%;
  	margin-top: 10px;
  	background-position: top-right
  }