  @media all and (min-width: 100px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
	margin: 0 auto;
	max-width: 320px;
	background-color: grey;
  }

  .background {
	background-color: white;
	background-image: url("../img/background_login.png"), url("../img/logo.png");
	background-repeat: no-repeat, no-repeat;
	background-position: center center, top right;
	background-size: 100% 60%, 10% 10%;
  }

  .PasswordForgottenLink {
  	color: Grey;
	letter-spacing: 0px;
	line-height: 0.5;
	text-align: left;
	vertical-align: center;
  	font-size: 12px;
	text-decoration: underline;
   }
  
  .PasswordForgottenHeadline {
      color: Black;
      letter-spacing: 0px;
      line-height: 0.5;
      text-align: left;
      vertical-align: center;
      font-size: 12px;
      text-decoration: underline;
     }


  .Button {

	 display:inline-block;
	 padding:0.35em 1.2em;
	 border:0.1em solid #FFFFFF;
	 margin:0 0.3em 0.3em 0;
	 border-radius:0.3em;
	 box-sizing: border-box;
	 text-decoration: underline;
	 font-family:'Roboto',sans-serif;
	 font-weight:300;
	 color: Red;
	 text-align: right;
	 transition: all 0.2s;
	width:100px;
	height:100px;
	vertical-align: top;
   }
}

