  @media all and (min-width: 100px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
	margin: 0 auto;
	max-width: 320px;
	background-color: grey;
  }

  .backgroundRegister {
	background-color: white;
	background-image: url("../img/logo.png");
	background-repeat: no-repeat;
  	background-position: 95% 5%;
	background-size: 10% 10%;
  	margin-top: 25px;
  }
  
  .Headline1 {
	color: black;
	letter-spacing: 0px;
	line-height: 0.8;
	text-align: left;
	vertical-align: left;
	margin-left: 25px;
  	margin-top: 60px;
  	font-size: 25px;
  	font-weight: bold;
  }
  
  .Headline2{
		color: black;
		letter-spacing: 0px;
		line-height: 0.8;
		text-align: left;
		vertical-align: left;
		margin-left: 25px;
		margin-top: 40px;
		font-size: 15px;
		font-weight: bold;  
}
  .Headline3{
		color: #616161;
		letter-spacing: 0px;
		line-height: 0.8;
		text-align: left;
		vertical-align: left;
		margin-left: 25px;
		margin-top: 5px;
		font-size: 12px;
		font-style: italic;  
  }
  
  
 .form-label{
	  color: #616161;
	letter-spacing: 0px;
	line-height: 0.8;
	text-align: left;
	vertical-align: left;
	margin-left: 25px;
	margin-top: 5px;
	font-size: 14px;
	font-style: normal; 
	 
 }
 
 .btn-primary{
	 background-color: #F2F2F2;
	 border: solid;
 	 border-width: thin;
 	 border-color: #6a91ce;
	 color: #6a91ce;
	 padding: 12px 70px;
	 text-align: left;
	 text-decoration: none;
 	 font-size: 15px;
 	 margin-top: 25px;
 	 margin-left: 25px;
 }
 select {
	   background-color: #F2F2F2; 
	   width: 180px;
 	   height: 25px;
	   font-size: 15px;
 	   color: #616161;
 	   margin-left: 15px;
 	   margin-top: 10px;
 	   border-radius: 5px;
  	   border: 1px solid #E6E6E6;
	}
 
 input[type=text] {
	   background-color: #F2F2F2; 
	   width: 180px;
	   height: 23px;
	   font-size: 15px;
	   color: #616161;
	   margin-left: 15px;
 	   margin-top: 10px;
 	   border-radius: 5px;
 	   border: 1px solid #E6E6E6;
	}
 input[type=email] {
	   background-color: #F2F2F2; 
	   width: 180px;
	   height: 23px;
	   font-size: 15px;
	   color: #616161;
	   margin-left: 15px;
 	   margin-top: 10px;
 	   border-radius: 5px;
       border: 1px solid #E6E6E6;
	}
 input[type=password] {
	   background-color: #F2F2F2; 
	   width: 180px;
	   height: 23px;
	   font-size: 15px;
	   color: #616161;
	   margin-left: 15px;
 	   margin-top: 10px;
 	   border-radius: 5px;
  	   border: 1px solid #E6E6E6;
 	   margin-top: 10px;
	}
}
  

