  @media all and (min-width: 100px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
	margin: 0 auto;
	max-width: 320px;
	background-color: grey;
  }

  .backgroundRegister {
	background-color: white;
	background-image: url("../img/logo.png");
	background-repeat: no-repeat;
	background-position: top right;
	background-size: 10% 10%;
  }
}

